:root {
    --main-color: #d9832e;
    --background-color: #eaedf2;
    --text-color: #676569;
    --link-hover-color: #090a0c;
    --border-color: #ffffff;
    --border-style: 1px solid;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --white-color: #ffffff;
    --light-gray-color: #ccc;
}

ul,li{
    list-style-type: none;
}


body{
    margin: 0;
    overflow-x: hidden;
}

.testimonials {
    background-color: var(--background-color);
    height: auto;
    border: var(--border-color) var(--border-style);
    width: 100%;
    margin-bottom: 5%;
}

.header-centrado{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10%;
}

.subrayado {
    position: relative;
    display: inline-block;
}

.subrayado::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px; 
    height: 2px;
    width: 45px;
    background-color: #d9832e;
}

.carousel-container {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.testimonial-list {
    display: flex;
    margin-top: 3%;
    width: 82%;
}

.testimonial-list article {
    display: flex;
    margin: 0 1%;
    padding: 20px;
    background-color: var(--white-color);
    border: var(--light-gray-color) var(--border-style);
    box-shadow: 0 0 10px var(--shadow-color);
    text-align: center; 
}


.testimonial-list article div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.puesto{
    margin-left: 8%;
}

.testimonial-list article img {
    width: auto;    
}

.testimonial-list article p{
    margin-top: 0;
    margin-bottom: 1rem;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    padding-bottom: 5%;
}

#prevBtn,
#nextBtn {
    margin-top: 60px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border: var(--white-color) var(--border-style);
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: var(--white-color);
    border: var(--main-color) var(--border-style);
}


.white-color2{
    margin-bottom: 15%;
    height: auto;
}

#latest_blogs{
    width: 100%;
}

#latest_blogs ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
    margin-left: 8%;
    gap: 9%;
    width: 82%;
    padding-top: 5%;
}

#latest_blogs li {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#latest_blogs article {
    width: auto;
    font-family: sans-serif;
}

#latest_blogs img{
    height: 280px;
    width: 357px;
}

.fecha{
    background-color: #d9832e;
    width: 70px; 
    position: absolute;
    margin-top: -6%;
    margin-left: 1.2949640287769784vh;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    text-align: center;
}

.fecha_año{
    background-color: #d9832e;
    width: 95px; 
    position: absolute;
    margin-top: -6%;
    margin-left:  1.1510791366906474vh;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    text-align: center;
}

.centrar{
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 340px;
    margin-left:  1.1510791366906474vh;
    margin-top: -8.633093525179856vh;
    position: absolute;
    font-family: sans-serif;
    height: 180px;
}

.centrar p{
    color: #676569;
}

.centrar a{
    color: #d9832e;
    font-weight: bold;
    padding-bottom: 30px;
}

.centrar div,
h4,
p,
a{
    margin-left: 15px;
}

.design{
    border: #e6e6e6 1px solid;
    width: 60px;
    color: #5d636c; 
}

.bc-color2{
    background-color: #eaedf2;
    height: auto;
    width: 100%;
}


#contacto{
    width: 100%;
    display: flex;
    margin-left: 10%;
}

#formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap:25%;
    padding-top: 5%;
}

#formulario article{
    border: var(--light-gray-color) var(--border-style);
    box-shadow: 0 0 10px var(--shadow-color);
    transition: transform 0.3s ease-in-out;
    background-color: var(--white-color);
    height: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

#formulario article form{
    width: auto;
}

#formulario h3{
    margin-left: 50px;
}

#formulario li{
    margin-bottom: 25px;
}

#Subject{
    border: none;
    border-bottom:#6f8590 1px solid;
    width: 530px;
}

#Name{
    border: none;
    border-bottom:#6f8590 1px solid;
    width: 250px;
}

#E-mail{
    margin-left: 20px;
    border: none;
    border-bottom:#6f8590 1px solid;
    width: 250px;
}

#formulario textarea{
    border: none;
    border-bottom:#6f8590 1px solid;
    resize:vertical;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: #6f8590 1px solid;
}

aside{
    margin-bottom: 80px;
}

aside h3{
    display: none;
}

aside li {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    margin-top: -14px;
    width: 330px;
    height: 108px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

aside img {
    width: 60px; 
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 15px;
}

#contacto-last{
    padding-right: 15px;
}

#download{
    background-color: var(--main-color);
    padding: 10px 20px;
    color: var(--white-color);
    border: none;
}

@media screen and (max-width:1397px){
    #formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bc-color2{
        padding-block: 10%;
        margin-top: 10%;
    }
    
}

@media screen and (max-width:1159px){
    .testimonial-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #prevBtn,
    #nextBtn {
    display: none;
}
}

@media screen and (max-width:1210px){
    #latest_blogs ul li{
        padding-block: 10%;
    }
}

@media screen and (max-width:744px){
    #latest_blogs ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50%;
    }
}

@media screen and (max-width:824px){
    #formulario article, #contacto-last {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0;
    }

    #contacto{
        margin: 0;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    #Name{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #E-mail{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #Subject{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #message{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}